python-dotenv
chainlit
langchain
langchain_core
langchain_huggingface
langchain_groq
langchain_google_genai
langchain_ollama
langgraph
langchain_chroma
langchain_community
pandas
pysqlite3
plotly
sqlalchemy
pydantic
git+https://github.com/amazon-science/chronos-forecasting.git
ipython
matplotlib